*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #674baf;
  background-blend-mode: screen;
}
@media (max-width: 56.75em) {
  body {
    background-image: url(../images/bg-mobile.svg);
  }
}

.heading-primary {
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2rem;
}
@media (max-width: 56.75em) {
  .heading-primary {
    text-align: center;
    font-size: 2.5rem;
  }
}
@media (max-width: 37.5em) {
  .heading-primary {
    font-size: 2.4rem;
    padding: 0;
  }
}

.intro-text {
  font-size: 1.65rem;
  margin-bottom: 4rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}
@media (max-width: 56.75em) {
  .intro-text {
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .intro-text {
    font-size: 1.42rem;
  }
}

header {
  padding-top: 2rem;
  padding-left: 6rem;
}
@media (max-width: 56.75em) {
  header {
    padding-left: 4rem;
  }
}

.hero {
  display: flex;
  padding: 4rem 4rem;
  justify-content: space-between;
}
.hero__image--container {
  width: 100%;
  padding: 0 2rem;
}
@media (max-width: 56.75em) {
  .hero__image--container {
    padding-bottom: 4rem;
  }
}
.hero__content--container {
  width: 100%;
  color: #fff;
  padding: 4rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 56.75em) {
  .hero__content--container {
    align-items: center;
    padding: 2rem;
  }
}
.hero__content--container .register-btn {
  border: 0.15rem solid #fff;
  border-radius: 10rem;
  width: 20rem;
  background-color: #fff;
  box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.35);
  transition: all 0.1s ease-in;
  cursor: pointer;
  padding: 1.5rem 0;
}
.hero__content--container .register-btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.35);
}
.hero__content--container .register-btn:focus {
  outline: none;
}
.hero__content--container .register-btn:active {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.35);
}
.hero__content--container .register-btn a {
  text-decoration: none;
  border: none;
  color: #674baf;
  font-size: 1.8rem;
  font-weight: 600;
}
@media (max-width: 37.5em) {
  .hero__content--container .register-btn {
    width: 25rem;
  }
}
@media (max-width: 56.75em) {
  .hero {
    flex-direction: column;
  }
}
@media (max-width: 37.5em) {
  .hero {
    flex-direction: column;
    padding: 2rem;
  }
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  padding-right: 4rem;
  padding-bottom: 2rem;
}
.social-icons a {
  margin: 0 1rem;
  border: 0.2rem solid #fff;
  border-radius: 50%;
}
.social-icons a:link,
.social-icons a:visited {
  color: #fff;
}
.social-icons a:nth-child(1) {
  padding: 0.5rem 1.2rem;
}
.social-icons a:nth-child(2),
.social-icons a:nth-child(3) {
  padding: 0.5rem 1rem;
}
.social-icons a span {
  font-size: 1.5rem;
}
@media (max-width: 56.75em) {
  .social-icons {
    justify-content: center;
    padding: 4rem;
  }
}

.attribution {
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
}
.attribution a:link,
.attribution a:visited {
  color: #fff;
  font-weight: 600;
}
@media (max-width: 56.75em) {
  .attribution {
    text-align: center;
    padding: 0 4rem;
  }
}
@media (max-width: 37.5em) {
  .attribution {
    padding: 0 2rem;
    line-height: 1.5;
  }
}
