.social-icons {
  display: flex;
  justify-content: flex-end;
  padding-right: 4rem;
  padding-bottom: 2rem;
  a {
    margin: 0 1rem;
    border: 0.2rem solid #fff;
    border-radius: 50%;

    &:link,
    &:visited {
      color: #fff;
    }

    &:nth-child(1) {
      padding: 0.5rem 1.2rem;
    }

    &:nth-child(2),
    &:nth-child(3) {
      padding: 0.5rem 1rem;
    }

    span {
      font-size: 1.5rem;
    }
  }
}
