*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

@import 'variables';
@import 'media-manager';
@import 'typography';
@import 'header';
@import 'hero';
@import 'social';
@import 'footer';

body {
  font-family: $font-stack-2;
  overflow-x: hidden;
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $color-primary;
  background-blend-mode: screen;

  @include respond(tab-port) {
    background-image: url(../images/bg-mobile.svg);
  }
}
