.hero {
  display: flex;
  padding: 4rem 4rem;
  justify-content: space-between;

  &__image--container {
    width: 100%;
    padding: 0 2rem;

    @include respond(tab-port) {
      padding-bottom: 4rem;
    }
  }

  &__content--container {
    width: 100%;
    color: #fff;
    padding: 4rem;
    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
      align-items: center;
      padding: 2rem;
    }

    .register-btn {
      border: 0.15rem solid #fff;
      border-radius: 10rem;
      width: 20rem;
      background-color: #fff;
      box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.35);
      transition: all 0.1s ease-in;
      cursor: pointer;
      padding: 1.5rem 0;

      &:hover {
        transform: translateY(-0.2rem);
        box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.35);
      }

      &:focus {
        outline: none;
      }

      &:active {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.35);
      }

      a {
        text-decoration: none;
        border: none;
        color: $color-primary;
        font-size: 1.8rem;
        font-weight: 600;
        
      }
      @include respond(phone) {
        width: 25rem;
      }
    }
  }

   @include respond(tab-port) {
    flex-direction: column;
  }
  
  @include respond(phone) {
    flex-direction: column;
    padding: 2rem;
  }
}
