.hero {
  display: flex;
  padding: 4rem 4rem;
  justify-content: space-between;

  &__image--container {
    width: 100%;
    padding: 0 2rem;

    @include respond(tab-port) {
      padding-bottom: 4rem;
    }
  }

  &__content--container {
    width: 100%;
    color: #fff;
    padding: 4rem;
    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
      align-items: center;
      padding: 2rem;
    }

    .register-btn {
      &:link,
      &:visited {
        background-color: #fff;
        border-radius: 10rem;
        box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.35);
        color: $color-primary;
        cursor: pointer;
        font-size: 1.8rem;
        font-weight: 600;
        padding: 1.35rem 0;
        text-align: center;
        text-decoration: none;
        transition: all 0.1s ease-in;
        width: 18rem;
      }

      &:hover {
        transform: translateY(-0.2rem);
        box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.35);
      }

      &:focus {
        outline: none;
      }

      &:active {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.35);
      }

      @include respond(phone) {
        width: 25rem;
      }
    }
  }

  @include respond(tab-port) {
    flex-direction: column;
  }

  @include respond(phone) {
    flex-direction: column;
    padding: 2rem;
  }
}
