.hero {
  display: flex;
  padding: 4rem 4rem;
  align-items: center;
  justify-content: space-between;

  &__image--container {
    width: 100%;
    padding-left: 2rem;
    .logo {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  &__content--container {
    width: 60%;
    color: #fff;
    padding-top: 4rem;
    align-self: flex-start;

    .register-btn {
      padding: 1.35rem 0;
      border: 0.15rem solid #fff;
      border-radius: 10rem;
      width: 20rem;
      background-color: #fff;
      box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.35);
      transition: all 0.1s ease-in;
      cursor: pointer;

      &:hover {
        transform: translateY(-0.2rem);
        box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.35);
      }

      &:focus {
        outline: none;
      }

      &:active {
        outline: none;
        transform: translateY(-0.1rem);
        box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.35);
      }

      a {
        text-decoration: none;
        border: none;
        color: $color-primary;
        font-size: 1.8rem;
        font-weight: 600;
      }

      @include respond(phone) {
        margin: 0 auto;
      }
    }
  }
}
